body {
    padding: 8px 30ox
}

.formdesign {
    font-size: 20px;

}

.formdesign input {
    width: 50%;
    padding: 5px 10px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 3px;
    font-size: 10px;
}

.formerror {
    color: red;
    font-size: 15px;
}

.but {
    border-radius: 5px;
    width: 78px;
    height: 27px;
    font-size: 18px;
    margin: 18px 15px;
}